@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Syncopate:wght@700&family=Teko&display=swap');

.navbar {
    padding: 0 10% 0 10%;
    width: 80%;
    height: 4.5em;
    display: flex;
    background-color: transparent;
    color: white;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    line-height: 4.5em;
    z-index: 2;
}

.colorHide {
    animation: colorHide 0.5s ease-in;
}

@keyframes colorHide {
    0% {
        background-color: #d8ab5b;
    }

    100% {
        background-color: transparent;
    }
}

.active {
    background-color: #d8ab5b;
    animation: colorShow 0.5s ease-in;
}

@media only screen and (min-width: 900px) {
    .active a:hover {
        color: #ffd690;
        animation: shadow 0.2s ease-out;
        text-shadow: white 1px 0 7px;
    }
}

@keyframes shadow {
    0% {
        color: white;
        text-shadow: none;
    }

    100% {
        color: #ffd690;
        text-shadow: white 1px 0 5px;
    }

}


@keyframes colorShow {
    0% {
        background-color: transparent;
    }

    100% {
        background-color: #d8ab5b;
    }
}

.logo {
    font-family: 'Syncopate', sans-serif;
    position: absolute;
    left: 10%;
    z-index: -1;
}

.nav {
    height: 4.5em;
    width: 100%;
    text-align: center;
}