@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Syncopate:wght@700&family=Teko&display=swap');

.navbar {
    padding: 0 10% 0 10%;
    width: 60%;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
}

.logo {
    font-family: 'Syncopate', sans-serif;
    position: absolute;
    left: 10%;
}
