@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Syncopate:wght@700&family=Teko&display=swap');

.navbar {
    padding: 0 10% 0 10%;
    width: 80%;
    height: 4.5em;
    display: flex;
    background-color: transparent;
    color: white;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    line-height: 4.5em;
}

.colorHide {
    animation: colorHide 0.5s ease-in;
}

@keyframes colorHide {
    0% {
        background-color: #d8ab5b;
    }

    100% {
        background-color: transparent;
    }
}

.active {
    background-color: #d8ab5b;
    animation: colorShow 0.5s ease-in;
}

@keyframes colorShow {
    0% {
        background-color: transparent;
    }

    100% {
        background-color: #d8ab5b;
    }
}

.logo {
    font-family: 'Syncopate', sans-serif;
    position: absolute;
    left: 10%;
}

.nav {
    height: 4.5em;
    width: 100%;
    text-align: center;
}