.intro {
    background-image: url(../../assets/images/tlo.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    filter: brightness(60%);
}

.introText {
    color: white;
    font-size: 4em;
    font-family: 'Syncopate', sans-serif;
    text-align: center;
    margin: 14% auto 0.3em auto;
    border-bottom: 1px solid gray;
    max-width: 12em;
    padding-bottom: 20px;
}

.introPar {
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}