.btn {
    position: relative;
    height: 3em;
    width: 9em;
}

.input {
    width: 70%;
    height: 3em;
    font-size: 1em;
    margin-bottom: 1em;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #d8ab5b;
    color: #d8ab5b;
}

.header {
    font-family: 'Poppins', sans-serif;
}