.container {
    height: 35em;
}

.icon {
    color: #fed892;
    z-index: -1;
    margin-top: -6.5em;
}

.icon:hover {
    color: #494949;
    animation: change 0.2s ease-in;
}


.left {
    float: left;
}

.right {
    float: right;
}

@media only screen and (max-width: 730px) {

    .container {
        height: 40em;
    }

    .icon {
        z-index: -1;
        font-size: 1em;
        margin-top: 25em;
    }

    .left {
        left: 2%;
    }

    .right {
        margin-right: 2%;
    }
}

@keyframes change {
    0% {
        color: #ffe7bc;
    }

    100% {
        color: #494949;
    }
}

.hidden {
    display: none;
}