.icon {
    position: absolute;
    margin-top: 7em;
    color: #fed892;
}

.icon:hover {
    color: #494949;
    animation: change 0.2s ease-in;
}


.left {
    left: 8%;
}

.right {
    right: 8%;
}

@media only screen and (max-width: 730px) {
    .icon {
        z-index: -1;
        font-size: 1em;
        margin-top: 25em;
    }

    .left {
        left: 4%;
    }

    .right {
        right: 4%;
    }
}

@keyframes change {
    0% {
        color: #ffe7bc;
    }

    100% {
        color: #494949;
    }
}

.hidden {
    display: none;
}