.footer {
    position: absolute;
    top: 3150px;
    font-size: 1em;
    color: white;
    left: 50%;
    transform: translate(-50%);
    padding-bottom: 1em;
    font-family: 'Poppins', sans-serif;
    text-align: center;

}

.row {
    display: inline-block;
    width: 100%;
}

.input {
    height: 3em;
    width: 20em;
    margin-right: 1em;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #d8ab5b;
    color: #d8ab5b;
    font-size: 1em;
}

.btn {
    position: relative;
    height: 3em;
    width: 8em;
    border-radius: 0;
}

.travel {
    color: rgb(56, 56, 56);
    text-align: center;
    margin-top: 5em;
}