.container {
    min-height: 800;
}

.card {
    width: 90%;
    height: 34em;
    text-align: left;
    margin: 2em auto 0 auto;
    font-family: 'Poppins', sans-serif;
    border: 1em solid #d8ab5b;
}

.imgCard {
    width: calc(37% + 1em);
    height: 38em;
    overflow: hidden;
    left: 50%;
    margin-top: -1em;
    position: absolute;
    z-index: -1;
}

.img {
    height: 40em;
    filter: brightness(90%);

}

.describeCard {
    width: 30%;
    padding: 5% 7% 5% 7%;
}


@media only screen and (max-width: 730px) {
    .card {
        position: absolute;
        z-index: -2;
        width: calc(80% - 1em);
        border: 0.5em solid #d8ab5b;
        height: 40em;
        margin-top: 1em;
    }

    .imgCard {
        position: absolute;
        z-index: -2;
        width: 80%;
        left: 50%;
        margin-top: 1em;
        transform: translate(-50%);
    }

    .describeCard {
        padding: 34em 10%;
        font-size: 0.8em;
        width: 80%;

    }

    .img {
        height: 27em;
        position: absolute;
        left: 0;
    }

    .button {
        position: absolute;
        right: 10%;
        width: 9em;
        height: 2.5em;
        font-size: 0.8em;
        bottom: 3em;
    }

}